@import "work-includes";

ul.examples.colors {
  li {
    .example {
      min-width : 50px;
      min-height: 50px;

      &.primary-color {
        background-color: $primary-color;
      }

      &.primary-color-light {
        background-color: $primary-color-light;
      }

      &.neutral-color {
        background-color: $neutral-color;
      }

      &.neutral-color-dark {
        background-color: $neutral-color-dark;
      }

      &.neutral-color-darkest {
        background-color: $neutral-color-darkest;
      }

      &.neutral-color-light {
        background-color: $neutral-color-light;
      }

      &.neutral-color-lightest {
        background-color: $neutral-color-lightest;
      }

      &.success-color {
        background-color: $success-color;
      }

      &.danger-color {
        background-color: $danger-color;
      }

      &.accent-color {
        background-color: $accent-color;
      }

      &.warning-color {
        background-color: $warning-color;
      }

      &.white {
        background-color: $white;
      }

      &.black {
        background-color: $black;
      }
    }
  }
}
