@import "work-includes";
@import "work-styles";

body {
  > main {
    margin: 20px 30px;
    padding: 10px;
    background-color: white;
  }

  li {
    margin: 10px;
  }
}

ul.examples {
  li {
    display: inline-block;
    text-align: center;

    label {
      margin-bottom: $spacing;
      display: inline-block;
    }

    .example {
      display   : block;
      margin    : 0 auto;
    }
  }
}

.null {
  @include block-center();
}