- var cssPaths = ['main', 'spacing', 'colors', 'font-sizes', 'line-heights']

html(ng-app='timeline')
  head
    title Work Styles

    meta(charset='utf-8')

    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')

    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no')

    each path in cssPaths
      link(href="styles/#{path}.css", rel="stylesheet")

  body
    main
      include views/mixins

      include views/primary-colors

      include views/secondary-colors

      include views/buttons

      include views/spacing

      include views/form

      include views/typography

      include views/loader
