a.anchor(name="mixins")

h1 Mixins

hr

ul
  li @mixin font-line($pt)

  li @mixin vertical-align-middle() # Uses inline-block and vertical-align

  li @mixin bg-image-ratio($low, $high)

  li @mixin bg-cover($src)

  li @mixin omega-reset($nth) *to be deprecated in favor of display flex

  li @mixin flex-center([justify-content], [margin]) #uses flexbox to vertical-align and allow wrap

  li @mixin block-center()