h1 Mixins

hr

ul
  li @mixin font-line($pt)

  li @mixin font($pt) *to be deprecated

  li @mixin line-height($pt) *to be deprecated

  li @mixin roboto-light()

  li @mixin roboto-thin()

  li @mixin roboto()

  li @mixin roboto-bold()

  li @mixin source-sans-light()

  li @mixin source-sans()

  li @mixin vertical-align-middle() *to be deprecated in favor of display flex

  li @mixin bg-image-ratio($low, $high)

  li @mixin bg-cover($src)

  li @mixin omega-reset($nth) *to be deprecated in favor of display flex

  li @mixin flex-center([justify-content], [margin]) #uses flexbox to vertical-align and allow wrap