- primaryColors = ['primary-color', 'accent-color', 'success-color', 'danger-color', 'warning-color', 'white', 'black']

a.anchor(name="primary-colors")

h1 Primary Colors

hr

ul.examples.colors
  - for color in primaryColors
    li
      label $#{color}

      .example(class=color)
