- secondaryColors = ['color-success', 'color-warning', 'color-danger', 'color-info']

h1 Secondary Colors

hr

ul.examples.colors
  - for color in secondaryColors
    li
      label $#{color}

      .example(class=color)
