ul
  li
    h1 Typography

  li
    hr

  li
    h1 h1 - some header text

  li
    h2 h2 - some header text

  li
    h3 h3 - some header text

  li
    h4 h4 - some header text

  li
    h5 h5 - some header text

  li
    h6 h6 - some header text

  li
    time time - 10/24/2015

  li
    label label

  li
    a a - this is a link

  li
    p p (Lorem ipsum dolor sit amet, <br />consectetur adipiscing elit, <br />sed do eiusmod tempor incididunt ut labore)

- fontSizes = ['font-size', 'font-size-small', 'font-size-smallest', 'font-size-big', 'font-size-biggest']

h2 Font Sizes

ul.examples.font-sizes
  - for fontSize in fontSizes
    li
      label $#{fontSize}

      .example(class=fontSize) Lorem ipsum dolor sit amet, <br />consectetur adipiscing elit, <br />sed do eiusmod tempor incididunt ut labore

- lineHeights = ['line-height', 'line-height-small', 'line-height-smallest', 'line-height-big', 'line-height-biggest']

h2 Line Heights

ul.examples.line-heights
  - for lineHeight in lineHeights
    li
      label $#{lineHeight}

      .example(class=lineHeight style="background-color:grey") Lorem ipsum dolor sit amet, <br />consectetur adipiscing elit, <br />sed do eiusmod tempor incididunt ut labore
