button {
  @include roboto();

  border-radius: $border-radius;
  border       : none;
  padding      : $spacing-small;
  cursor       : pointer;
  font-size    : $font-big;

  &.success {
    background-color: $color-success;
    color           : white;
  }

  &.warning {
    background-color: $color-warning;
    color           : white;
  }

  &.danger {
    background-color: $color-danger;
    color           : white;
  }

  &.info {
    background-color: $color-info;
    color           : white;
  }

  &.clean {
    background-color: initial;
    padding         : initial;
    border-radius   : initial;
    border          : initial;
    font-size       : initial;
    font            : initial;
    line-height     : initial;
  }
}
