input[type="text"], input[type="password"], input[type="email"] {
  @include font-line($font-size-big);

  padding      : $spacing;
  width        : 100%;
  border       : 1px solid $neutral-color-light;
  color        : $primary-color;
  border-radius: $border-radius-smallest;
}
