input[type="text"], input[type="password"] {
  padding         : $spacing;
  width           : 100%;
  border          : 0;
  color           : $primary-color-darkest;
  background-color: $primary-color-lightest;

  @include font-line(16);
}
