@mixin font-line($pt) {
  @include font($pt);

  @include line-height($pt * 1.20);
}

@mixin font($pt) {
  font-size: ($pt * $base);
}

@mixin line-height($pt) {
  line-height: ($pt * $base);
}

@mixin roboto-light() {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
}

@mixin roboto-thin() {
  font-family: 'Roboto Slab', serif;
  font-weight: 100;
}

@mixin roboto() {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
}

@mixin roboto-bold() {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
}

@mixin source-sans-light() {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
}

@mixin source-sans() {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}

@mixin vertical-align-middle() {
  > * {
    display       : inline-block;
    vertical-align: middle;
  }
}

@mixin bg-image-ratio($low, $high) {
  background-repeat: no-repeat;

  @media (-webkit-max-device-pixel-ratio: 1.99), (max-resolution: 191dpi) {
    background-image: url($low);
  }

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    background-image: url($high);
  }
}

@mixin bg-cover($src) {
  background             : url($src) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size   : cover;
  -o-background-size     : cover;
  background-size        : cover;
}

@mixin omega-reset($nth) {
  &:nth-child(#{$nth}) { margin-right: flex-gutter(); }
  &:nth-child(#{$nth}+1) { clear: none }
}

@mixin flex-center($justify-content: flex-start, $margin: '') {
  @include display(flex);
  @include justify-content($justify-content);
  @include align-items(center);
  @include flex-wrap(wrap);

  @if $margin != '' {
    padding-top: $margin;
    padding-left: $margin;

    > * {
      margin-bottom: $margin;
      margin-right: $margin
    }
  }
}
