h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  color         : $neutral-color-darkest;
  font-weight   : $font-weight-boldest;
  font-family   : "sofia-pro";

  &:first-child {
    margin-top: 0;
  }
}

h1 {
  @include font-line(32px);
}

h2 {
  @include font-line(32px);

  font-weight: $font-weight-lightest;
}

h3 {
  @include font-line(24px);
}

h4 {
  @include font-line(24px);

  font-weight: $font-weight-lightest;
}

h5 {
  @include font-line(20px);
}

h6 {
  @include font-line(20px);

  font-weight: $font-weight-lightest;
}

time {
  color: $neutral-color;
}

label {
  font-weight: $font-weight-bold;
  text-transform: capitalize;
}

p {
  font-size  : $font-size;
  margin-top : $margin-smallest;
  font-weight: $font-weight-light;
  line-height: $line-height;

  &:first-child {
    margin-top: 0;
  }

  &.secondary {
    color: $neutral-color-dark;
  }

  &.error {
    font-size  : $font-size-small;
    line-height: $line-height-small;
    color      : $danger-color;
    font-style : italic;
  }

  &.wide {
    width: 250px;
  }

  &.wider {
    width: 500px;
  }
}

strong {
  font-weight: $font-weight-bold;
}
