h1, h2, h3, h4, h5, h6 {
  margin-top: 10px;

  &:first-child {
    margin-top: 0;
  }
}

h1 {
  @include font-line(90px);

  font-weight: bold;
}

h2 {
  @include font-line(20px);
}

h3 {
  @include font-line(18px);
}

h4, h5 h6 {
  @include font-line(16px);
}

time {
  color: $primary-color-light;
  font-style: italic;
}

label {
  @include roboto-bold();
}

p {
  @include font-line($font-size);
}
