h1, h2, h3, h4, h5, h6 {
  margin-top: $margin;
  text-transform: uppercase;

  &:first-child {
    margin-top: 0;
  }
}

h1 {
  @include font-line(30px);

  font-weight: $font-weight-bold;
}

h2 {
  @include font-line(26px);

  font-weight: $font-weight-lightest;
}

h3 {
  @include font-line(22px);

  font-weight: $font-weight-bold;
}

h4 {
  @include font-line(18px);

  font-weight: $font-weight-lightest;
}

h5 {
  @include font-line(16px);

  margin-top: $margin-small;
  font-weight: $font-weight-bold;
}

h6 {
  @include font-line(16px);

  margin-top: $margin-small;
  font-weight: $font-weight-lightest;
}

time {
  color: $neutral-color;
}

label {
  font-weight: bold;
}

p {
  @include font-line($font-size-small);

  margin-top: $margin-smallest;

  &:first-child {
    margin-top: 0;
  }

  &.secondary {
    margin-top: $margin-smallest / 2;
    color: $neutral-color;
  }

  &.error {
    color: $danger-color;
    font-style: italic;
  }
}

strong {
  font-weight: bold;
}
