
// Colors
// Greys
$mercury     : #e6e6e6;
$mine-shaft  : #2D2D2D;
$gray-chateau: #A7A9AB;

// Primary colors
$primary-color         : #666;
$primary-color-light   : $gray-chateau;
$primary-color-lightest: $mercury;
$primary-color-dark    : #444;
$primary-color-darkest : $mine-shaft;

// complementary colors
$color-success: #469408;
$color-warning: #DAD714;
$color-danger : #D9401F;
$color-info   : #029ACF;

$base            : 1px;
$spacing         : 14px;
$spacing-big     : 18px;
$spacing-biggest : 24px;
$spacing-small   : 10px;
$spacing-smallest: 6px;

$font-size         : 14px;
$font-size-big     : 18px;
$font-size-biggest : 24px;
$font-size-small   : 10px;
$font-size-smallest: 8px;

$line-height         : 16px;
$line-height-big     : 20px;
$line-height-biggest : 26px;
$line-height-small   : 12px;
$line-height-smallest: 10px;


$border-radius         : 6px;
$border-radius-big     : 8px;
$border-radius-biggest : 10px;
$border-radius-small   : 4px;
$border-radius-smallest: 2px;
