// disable border-box-sizing in bourbon-neat
$border-box-sizing: false;

$spacing         : 14px;
$spacing-big     : 18px;
$spacing-biggest : 24px;
$spacing-small   : 10px;
$spacing-smallest: 6px;

$spacing         : 14px;
$spacing-big     : 18px;
$spacing-biggest : 24px;
$spacing-small   : 10px;
$spacing-smallest: 6px;

$padding         : 12px;
$padding-big     : 16px;
$padding-biggest : 22px;
$padding-small   : 8px;
$padding-smallest: 4px;

$margin         : 30px;
$margin-big     : 40px;
$margin-biggest : 50px;
$margin-small   : 20px;
$margin-smallest: 10px;

$font-size         : 14px;
$font-size-big     : 18px;
$font-size-biggest : 24px;
$font-size-small   : 10px;
$font-size-smallest: 8px;

$line-height         : 16px;
$line-height-big     : 20px;
$line-height-biggest : 26px;
$line-height-small   : 12px;
$line-height-smallest: 10px;

$border-radius         : 6px;
$border-radius-big     : 8px;
$border-radius-biggest : 10px;
$border-radius-small   : 4px;
$border-radius-smallest: 2px;

$black: #000;
$white: #fff;

$primary-color: #00aeff;
$accent-color : #0096ff;
$success-color: #99cc00;
$danger-color : #ff0066;
$warning-color: #DAD714;

$neutral-color         : #b7b7b7;
$neutral-color-dark    : #7f7f7f;
$neutral-color-darkest : #3d3d3d;
$neutral-color-light   : #d1d3d4;
$neutral-color-lightest: #f0f0f0;
