
// Colors
// Greys
$mercury     : #e6e6e6;
$mine-shaft  : #2D2D2D;
$gray-chateau: #A7A9AB;

// Primary colors
$primary-color         : #666;
$primary-color-light   : $gray-chateau;
$primary-color-lightest: $mercury;
$primary-color-dark    : #444;
$primary-color-darkest : $mine-shaft;

// complementary colors
$color-success: #469408;
$color-warning: #DAD714;
$color-danger : #D9401F;
$color-info   : #029ACF;

$base            : 1px;
$spacing         : 10px;
$spacing-big     : 14px;
$spacing-biggest : 20px;
$spacing-small   : 6px;
$spacing-smallest: 4px;

