@import "work-includes";
@import "reset";
@import "buttons";
@import "typography";
@import "form";
@import "loader";
@import "icons";
@import "lists";
@import "hrs";

html {
  min-height: 100%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family        : "sofia-pro";
  position           : relative;
  min-height         : 100%;
  margin             : 0;
  padding            : 0;
  overflow-x         : hidden;
  overflow-y         : auto;
  -webkit-text-stroke: 1px transparent;
  background-color   : $neutral-color-darkest;
  font-size          : $font-size-small;
}

hr {
  height          : 2px;
  border          : none;
  background-color: $neutral-color-lightest;
  margin-top      : $margin-small;
  margin-bottom   : $margin;
}

a {
  cursor: pointer;
  color: $primary-color;
}

.elevated {
  box-shadow: 0 6px 6px -6px $neutral-color-dark;
}

