@import "work-includes";
@import "reset";
@import "buttons";
@import "typography";
@import "form";
@import "loader";
@import "icons";
@import "lists";
@import "hrs";

html {
  min-height: 100%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family        : "sofia-pro";
  position           : relative;
  min-height         : 100%;
  margin             : 0;
  padding            : 0;
  overflow-x         : hidden;
  overflow-y         : auto;
  -webkit-text-stroke: 1px transparent;
  background-color   : $neutral-color-darkest;
  font-size          : $font-size-small;
}

hr {
  height          : 2px;
  border          : none;
  background-color: $neutral-color-light;
  margin-top      : $margin;
  margin-bottom   : $margin;
}

a {
  cursor         : pointer;
  color          : $primary-color;
  text-decoration: none;
}

.elevated-bottom {
  box-shadow: 0 6px 6px -6px $neutral-color-dark;
}

.elevated {
  box-shadow: 0 0px 6px 0px $neutral-color-dark;
}

.notification {
  padding         : $padding-smallest;
  background-color: $danger-color;
  border-radius   : $border-radius-big;
  color           : $white;
  min-width       : 20px;
  text-align      : center;
  display         : inline-block;

  &.absolute {
    position: absolute;
    top     : -$padding-smallest;
    right   : -$padding-smallest;
  }
}

.none {
  display: none;
}

.invisible {
  visibility: hidden;
}

.relative {
  position: relative;
}

.flex {
  @include display(flex);

  &.column {
    @include flex-direction(column);
  }

  &.center {
    @include justify-content(center);
  }

  &.end {
    @include justify-content(end);
  }

  &.space-between {
    @include justify-content(space-between);
  }

  &.space-around {
    @include justify-content(space-around);
  }

  &.middle {
    @include align-items(center);
  }

  &.stretch {
    @include align-items(stretch);
  }

  &.wrap {
    @include flex-wrap(wrap);
  }
}

.flex-grow {
  @include flex-grow(1);
}

.flex-center { /** DEPRECATED **/
  @include flex-center(center);
}

.flex-column { /** DEPRECATED **/
  @include display(flex);
  @include flex-direction(column);
}

.flex-center-column { /** DEPRECATED **/
  @include flex-center(center);
  @include flex-direction(column);
  @include align-items(center);
}
