@import "work-includes";
@import "reset";
@import "buttons";
@import "typography";
@import "form";
@import "loader";
@import "icons";
@import "lists";
@import "hrs";
@import "dark-bg";

html {
  min-height: 100%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family        : "source-sans-pro";
  position           : relative;
  min-height         : 100%;
  margin             : 0;
  padding            : 0;
  overflow-x         : hidden;
  overflow-y         : auto;
  -webkit-text-stroke: 1px transparent;
  background-color   : $neutral-color-darkest;
  font-size          : 15px;
  font-weight        : $font-weight-light;
  color              : $neutral-color-darkest;
}

hr {
  height          : 2px;
  border          : none;
  background-color: $neutral-color-light;
  margin-bottom   : $margin;
}

a {
  cursor         : pointer;
  color          : $primary-color;
  text-decoration: none;
  font-weight    : $font-weight-light;
}

.elevated-bottom {
  border-bottom: 2px solid $black;
}

.elevated {
  box-shadow: 0 0px 6px 0px $neutral-color-dark;
}

.notification {
  $diameter: 24px;

  padding         : $padding-smallest;
  background-color: $danger-color;
  border-radius   : $diameter;
  color           : $white;
  min-width       : $diameter;
  min-height      : $diameter;
  text-align      : center;
  display         : inline-block;

  &.absolute {
    position: absolute;
    top     : -$diameter/2;
    right   : -$diameter/2;
  }

  &.small {
    font-size: $font-size-smallest;
  }
}

.none {
  display: none;
}

.invisible {
  visibility: hidden;
}

.relative {
  position: relative;
}

.flex {
  @include display(flex);

  &.column {
    @include flex-direction(column);
  }

  &.center {
    @include justify-content(center);
  }

  &.end {
    @include justify-content(flex-end);
  }

  &.space-between {
    @include justify-content(space-between);
  }

  &.space-around {
    @include justify-content(space-around);
  }

  &.middle {
    @include align-items(center);
  }

  &.stretch {
    @include align-items(stretch);
  }

  &.bottom {
    @include align-items(flex-end);
  }

  &.wrap {
    @include flex-wrap(wrap);
  }
}

.flex-grow {
  @include flex-grow(1);
}


